@tailwind base;
@tailwind components;
@tailwind utilities;

.bgcolor{
    background: rgb(98, 80, 254);
}
.textcolor{
    color: rgb(98, 80, 254);
    ;
}
.leet{
    width: 50%;
    margin-left: 230px;
    color: white;
    border: 1px solid blue;
    border-radius: 10px;
}